$grid-columns-mobile: 4;
$global-bg-color: #F7F7F7;
$nav-text-color: #333333;
$spec-color: #4F4F4F;
$lang-color-def: #828282;
$lang-color-active: #333333;
$buy-button-bgc: #333333;
$buy-button-bgc-hover: #131313;
